body {
  background-image: linear-gradient(
    to right top,
    #cfb5d7,
    #d6b4d5,
    #deb3d3,
    #e5b3cf,
    #ebb2cb,
    #eab3ce,
    #e8b4d2,
    #e6b5d5,
    #d9b8df,
    #c9bce7,
    #b9c0ea,
    #a9c4ea
  );
  background-size: 1600% 1600%;
  font-family: "Roboto", sans-senrif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a[href=""] {
  display: none;
}

.footer a {
  color: black;
  text-decoration: underline;
  padding-bottom: 40px;
}
