.App {
  margin: auto;
  width: 80%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Row {
  border: 2px solid #ddd;
  padding: 10px;
  position: static;
  margin: 10px;
  width: 45%;
}

.profilePic {
  float: left;
  padding-right: 30px;
  width: 40%;
}

.profilePic img {
  height: 100%;
  width: 100%;
}

.info {
  overflow: auto;
}

.social {
  padding-right: 25px;
}

@media screen and (max-width: 1700px) {
  .App h3 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .Row {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 100%;
  }

  .info a svg {
    height: 36px;
    width: 36px;
  }

  .footer {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .profilePic {
    float: none;
    width: 75%;
  }

  .info a svg {
    height: 48px;
    width: 48px;
  }
}
